body {
    background-color: rgb(240, 239, 242);
}

.contact-form__content {
    width: 90%;
    margin: 10% auto 0 auto;
}

.page-title {
    padding: 0.05em 1em;
    background: transparent;
    border-left: solid 5px #000;
}
  
.attend-table {
    margin: 3% auto;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}

.attend-table__inner {
    width: 100%;
    border-collapse: collapse;
}

.attend-table__row {
    line-height: 50px;
}

.attend-table__header_adjust {
    width: 5%;
    border-bottom: 2px solid rgb(179, 179, 179);
}

.attend-table__item_middle {
    width: 3.5%;
    border-bottom: 2px solid rgb(179, 179, 179);
}

.attend-table__item_adjust {
    width: 10%;
    border-bottom: 2px solid rgb(179, 179, 179);
    text-align: left;
}

.attend-table__header {
    width: 20%;
    text-align: left;
    font-weight: bold;
    padding: 15px;
    color: rgb(115, 115, 115);
    border-bottom: 2px solid rgb(179, 179, 179);
}

.attend-table__header-approve {
    width: 20%;
    text-align: left;
    font-weight: bold;
    padding: 15px;
    color: rgb(115, 115, 115);
    border-bottom: 2px solid rgb(179, 179, 179);
}

.attend-table__item {
    border-collapse: collapse;
    border-bottom: 2px solid rgb(179, 179, 179);
    padding: 15px;
    width: 60%;
    font-weight: bold;
    text-align: left;
}

.attend-form_adjust {
    border-collapse: collapse;
    border-bottom: 2px solid rgb(179, 179, 179);
    width: 20%;
}

.attend-table__item-approve {
    border-collapse: collapse;
    border-bottom: 2px solid rgb(179, 179, 179);
    padding: 15px;
    width: 25%;
    font-weight: bold;
    text-align: left;
}

.attend-form {
    font-weight: bold;
    text-align: center;
    height: 30px;
}

.approve-item {
    font-weight: bold;
    text-align: center;
    height: 30px;
}

.other {
    width: 100%;
    height: 70px;
    font-weight: bold;
}

.correct {
    width: 10%;
    background-color: #000;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    float: right;
}

.form-middle {
    margin-left: 10%;
    margin-right: 10%;
}

.approve-middle {
    margin-left: 15%;
    margin-right: 15%;
}

.red-font {
    color: #ff0000;
    font-weight: bold;
    float: right;
}

.form__error {
    color: #ff0000;
    font-size: 13px;
}

@media screen and (max-width:1000px) {
    .contact-form__content {
        margin-top: 13%;
    }

    .attend-table__header_adjust {
        width: 2%;
    }

    .attend-table__header {
        width: 15%;
    }

    .attend-table__item {
        width: 45%;
    }

    .form-middle {
        margin-left: 5%;
        margin-right: 5%;
    }

    .attend-form_adjust {
        width: 5%;
    }

    .attend-form {
        width: 30%;
    }

    .correct {
        width: 20%;
    }
}

@media screen and (max-width:768px) {
    .contact-form__content {
        margin-top: 18%;
    }
}

@media screen and (max-width:650px) {
    .contact-form__content {
        margin-top: 22%;
    }

    .attend-table {
        white-space: nowrap;
        overflow-x: auto;
    }

    .attend-form {
        font-size: 10px;
    }

    .approve-middle {
        margin-left: 10%;
        margin-right: 10%;
    }

    .correct {
        width: 30%;
    }
}