.container {
    margin-top: 13%;
    text-align: center;
}

.status {
    width: 30%;
    background-color: #ddd;
    border-radius: 80px;
    padding: 10px 20px;
}

.date {
    line-height: 80px;
}

.current {
    font-size: 60px;
}

.commute-btn {
    line-height: 180px;
}

.commute {
    width: 15%;
    background-color: #000;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.break-btn {
    line-height: 180px;
}

.break {
    width: 15%;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.punch-btn {
    line-height: 180px;
    width: 20%;
}

.punch {
    width: 100%;
    background-color: #000;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.rest-btn {
    line-height: 180px;
    width: 20%;
}

.rest {
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.commute-btn {
    line-height: 180px;
}

.done {
    line-height: 180px;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width:1000px) {
    .container {
        margin-top: 17%;
    }

    .commute {
        width: 20%;
    }

    .punch-btn {
        width: 23%;
    }

    .rest-btn {
        width: 23%;
    }

    .break {
        width: 20%;
    }
}

@media screen and (max-width:768px) {
    .container {
        margin-top: 22%;
    }

    .commute {
        width: 23%;
    }

    .punch-btn {
        width: 25%;
    }

    .rest-btn {
        width: 25%;
    }

    .break {
        width: 23%;
    }
}

@media screen and (max-width:600px) {
    .container {
        margin-top: 36%;
    }

    .commute {
        width: 55%;
    }

    .btn-group {
        display: block;
    }

    .punch-btn {
        width: 70%;
        margin: 0 auto;
    }

    .rest-btn {
        width: 70%;
        margin: 0 auto;
    }

    .break {
        width: 55%;
    }
}