body {
    background-color: rgb(240, 239, 242);
}

.contact-form__content {
    width: 90%;
    margin: 10% auto 0 auto;
}

.page-title {
    padding: 0.05em 1em;
    background: transparent;
    border-left: solid 5px #000;
}
  
.attend-table {
    margin: 3% auto;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}

.attend-table__inner {
    width: 100%;
    border-collapse: collapse;
}

.attend-table__row {
    width: 20%;
}

.attend-table__item {
    border-collapse: collapse;
    border-top: 2px solid rgb(179, 179, 179);
    padding: 15px;
    color: rgb(115, 115, 115);
    font-weight: bold;
}

.attend-table__header {
    font-weight: bold;
    padding: 15px;
    color: rgb(115, 115, 115);
}

.detail-btn {
    border: none;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

@media screen and (max-width:1000px) {
    .contact-form__content {
        margin-top: 13%;
    }
}

@media screen and (max-width:768px) {
    .contact-form__content {
        margin-top: 18%;
    }
}

@media screen and (max-width:600px) {
    .contact-form__content {
        margin-top: 22%;
    }

    .attend-table__inner {
        width: 600px;
    }

    .attend-table {
        width: 550px;
        overflow-x: auto;
    }
}